.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.barra-superior,
.barra-lateral,
.barra-inferior,
.imagen-inferior,
.logo-grande,
.logo-chico,
.texto-uno,
.texto-dos,
.texto-tres,
.texto-cuatro,
.texto-cinco,
.icono-wpp,
.numero-wpp,
.icono-email,
.email,
.bandera,
.mapa,
.imagen-inferior-uru,
.texto-canal-dos,
.texto-uruvision,
.contactos,
.videoteca,
.texto-videoteca,
.texto-documentales,
.documentales {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gif {
  position: fixed;
  top: 23%;
  left: 70%;
  width: 30%;
  height: auto;
  z-index: 2;
}

.boton-uno {
  position: fixed;
  top: 25%;
  left: 9%;
  width: 10%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-dos {
  position: fixed;
  top: 36%;
  left: 9%;
  width: 10%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-tres {
  position: fixed;
  top: 47%;
  left: 9%;
  width: 10%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-cuatro {
  position: fixed;
  top: 59%;
  left: 9%;
  width: 10%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-cinco {
  position: fixed;
  top: 70%;
  left: 9%;
  width: 10%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-uruvision {
  position: fixed;
  top: 13%;
  left: 55%;
  width: 28%;
  height: auto;
  z-index: 3;
  cursor: pointer;
}

.boton-canal-dos {
  position: fixed;
  top: 45%;
  left: 55%;
  width: 28%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.boton-uno:hover,
.boton-dos:hover,
.boton-tres:hover,
.boton-cuatro:hover,
.boton-uruvision:hover,
.boton-canal-dos:hover,
.boton-cinco:hover {
  transform: scale(1.1);
}
